/* common shared style */
body{
    font-family: 'Open Sans', sans-serif;
}

.btn-style{
    border-radius: 5px;
background: #FD6E0A; 
border: 0px;
font-size: 20px;
font-weight: 700;
color: white;
padding: 15px 35px 15px 35px;
}
/* nav related style */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
.nav-mary{
    color: #181818;
font-size: 45px;
font-weight: 800;
}
.text-primary{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* head related style  */
.head{
    background-color:  #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 150px;
}
.banner{
    display: flex;
    align-items: center;
}
.banner-image{
    height: 580px;
    width: 580px;
}